/* Cart styles */

.pageContainer {
  width: 100%;  
}

router-outlet + * {
  width: 100% !important;
}

pageTitle {
  border: solid 1px lightcyan;
  position: relative;
  display: block;
  background-color: lightblue;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5px;
  
  font-weight: bold;
}

.pageTitle h4 {
  border: solid 0px black;
  position: relative;
  display: block;
  float: left;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.backToListBtn {
  background-color: #1976d2;
  visibility: collapse;
  color: white;
  width: 120px;
  padding: 8px 16px;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
  margin-top: 10px;
}

.cartItemBox {
  position: relative;
  display: inline-block;
  width: 70%;
  min-width: 595px;
}

.cartItem {
  border: solid 1px lightgray;
  background-color: lightcyan;
  color: black;
  position: relative;
  display: inline-block;
  width: 98%;
  height: 120px;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  min-width: 595px;
  white-space: nowrap;
  border-left: 0;
  border-right: 0;
}

.cartItem:hover {
  background-color: lightsteelblue;
}

.cartItemCnt {
  color: #616161;
}

.cartEmpty {
  border: solid 1px lightgray;
  background-color: lightcyan;
  color: black;
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px;
  margin: 5px 0px 5px 0px;
  border-radius: 2px;
}

.imgProduct {
  border: solid 1px lightgray;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 57px;
  margin: 0px;  
  padding: 5px;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 0px lightslategray;  
}

.itemDescr, .itemQty, .textRight {
  font-size: 13px;
}

.saleText {
  color: red;  
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
}

.itemQty {
  position: relative;
  display: block;
  float: right;
  text-align: center;
  margin: 35px auto 0 5px;
  padding: 5px;
}

.imgProdBox {
  border: solid 0px lightgray;
  position: relative;
  float: left;
  width: 200px;   
  height: 100px;
  background-color: #f5f5f5;
}

.imgProduct {
  border: solid 0px black;
  height: auto;
  max-width: 90%;
  max-height: 95px;
  margin: 0 auto;  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.prodDetBox {
  border: solid 0px black;
  position: relative;
  width: 35%;
  height: 100%;
  float: left;
  padding: 20px 5px 0 15px;
}

.priceProdBox {
  border: solid 0px black;
  position: relative;
  width: 70px;
  height: 100%;
  float: right;
  margin: 25px 5px;
}

.removeFromCartBtn {
  border: solid 0px black;
  position: relative;
  display: block;
  color: #1976d2;
  width: 10px;
  height: 100%;
  float: right;
  margin: 35px 0;
  font-weight: bolder;
}

.controlBtns {
  border: solid 0px black;
  width: 100%;
  position: relative;
  padding: 0px;  
  padding-left: 0px;
}

.clearCartBtn {
  background-color: #1976d2;
  color: white;
  min-width: 120px;
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 8px 10px;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
  float: right;
}

.btn {
  background-color: #1976d2;
  position: relative;
  display: block;
  float: left;
  color: white;
  width: 100%;
  padding: 8px 16px 10px 16px;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
}

.backToListBtn:hover, 
.clearCartBtn:hover, 
.removeFromCartBtn:hover,
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.textRight {
  position: relative;
  top: 15px;
  text-align: center;
  display: block;  
}

.cartSummary {
  border: solid 1px lightgray;
  background-color: lightcyan;
  color: black;
  position: relative;
  display: block;
  float: right;
  width: 27%;
  min-width: 225px;
  height: auto;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  white-space: nowrap;
}

.cartSummaryHdr {
  border-bottom: solid 1px lightgray;
  position: relative;
  display: flexbox;
  float: left;
  width: 100%;
  height: 25px;
  text-align: center;
}

.cartSummaryCntBox{
  border: solid 0px black;
  position: relative;
  display: flexbox;
  float: left;
  width: 100%;
  height: auto;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 50px;
  font-size: 14px;;
}

.cartSummaryBox{ 
  position: relative;
  display: flexbox;
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
  vertical-align: bottom;
}

.cartTotalText {
  border: solid 0px black;
  position: relative;
  float: left;
  text-align: left;
  padding-bottom: 10px;  
}

.cartTotalAmount {
  border: solid 0px black;
  position: relative;
  float: right;
  text-align: right;
  padding-bottom: 10px;
}

.cartTotalSale {  
  color: red;
}

hr {
  border-top: solid 0px lightgray;
  border-bottom: solid 1px lightgray;
}

/***************************************/

@media screen and (max-width: 900px) {
  .cartItemBox {
    width: 99%;
    min-width: 595px;
  }

  .cartSummaryCntBox{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .cartSummary {
    width: 100%;
    height: unset;
    margin-top: 10px;
  }

  .cartSummaryBox {
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 670px) {
  .cartItem {
    min-width: unset;        
    white-space: unset;
    width: 100%;
    padding: 0px 5px 0px 5px;
  }

  .cartItemBox {
    min-width: unset;
  }

  .imgProdBox {
    width: 30%;
  }

  .imgProduct {
    max-width: 100%;
    top: 30%;
    bottom: 30%;
    padding: 0px;
  }
  
  .prodDetBox {
    width: 41%;
    padding: 15px 5px 0 10px;
  }
  
  .itemQty {
    position: absolute;
    left: 31%;
    bottom: 4%;
  }

  .cartSummary {
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .clearCartBtn {
    width: 97%;
  }
  
  .clearCartBtn, .btn {
    font-size: 18px;
    padding: 10px 12px 10px 12px;

    text-transform: uppercase;
  }
}
