<div class="pageContainer">
  <div class="pageTitle">
    <h4><a *ngIf="isTitleLinkEnabled" [routerLink]="['/product-list']">{{'Products' | translate}}</a></h4>
    <h4 *ngIf="!isTitleLinkEnabled">{{'Products' | translate}}</h4>
    <h4 *ngIf="subTitle.length > 0">&nbsp;>&nbsp;</h4>
    <h4>{{subTitle | translate}}</h4>
    <!--<h4 *ngIf="this.keyword.length > 0">{{this.keyword}}</h4>-->
    <div class="itemCntBox">
      <h5>{{this.products.length}} {{ 'Items' | translate }}</h5> 
    </div>
  </div>
  <div class="prodBoxContainer">
    <div class="searchItemsEmpty" *ngIf="products.length == 0">
      <span>{{ 'No items found!' | translate }}</span>
    </div>
    <div *ngFor="let product of this.products">
      <div *ngIf="product.name" class="prodBox">
        <div *ngIf="product.promo != undefined" class="saleImgBox">
          <img class="saleTagImg" src="https://purepng.com/public/uploads/large/91506344883rzefagfyhkuvbadhzxqqsthtipgm05rryxramtr6y5cr0bmshvs4yhuypjfboa4upuciaalyov7rxptonapzanakssqtlechfpza.png" alt="image"/> 
          <span class="saleAmountLabel">{{product.promo}}% Off</span>
        </div>
        <h3>
          <a [title]="product.detail" [routerLink]="['/products', product.id]">
            {{ product.name }}
          </a>
        </h3>
        <div class="priceBox"> 
          <h5 [ngClass]="{'crossedLine': product.promo != undefined}">{{ product.price | currency }}</h5>
          <h5 *ngIf="product.promo != undefined" class="salePrice"> {{ product.price*(100-product.promo)/100 | currency }}</h5>
        </div>
        <p *ngIf="product.description">{{product.detail | slice:0:300}}<p>
        
        <div id="imgBox_{{product.id}}" class="imgBox" (mouseover)="mouseOver(product.id)" (mouseleave)="mouseLeave(product.id)">
          <div class="mySlides fade" *ngFor="let img of product.img; let i = index;">
            <div class="numberText">{{i+1}} / {{product.img.length}}</div>
            <img id="imgProduct" src="{{img}}" (mouseover)="currentSlide(2, product.id)" (mouseleave)="currentSlide(1, product.id)" style="width: 95%;" alt="image"/>
          </div>

          <a id="prev_{{product.id}}" class="prev" (click)="plusSlides(-1, product.id)" style="visibility: visible">&#10094;</a>
          <a id="next_{{product.id}}" class="next" (click)="plusSlides(1, product.id)" style="visibility: visible">&#10095;</a>

          <br />

          <div class="dots" style="visibility: visible">
            <span class="dot" (click)="currentSlide(i, product.id)" *ngFor="let img of product.img; let i = index;"></span>             
          </div>
        </div>

        <div class="buttons" hidden>
          <button (click)="share()">Share</button>
          <!--
          <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
